<div class="footer">
  <div class="footer-content flex">
  <div class="footer-links flex">
    <a href="{{ "/license/" | relative_url }}">{% t nav.license %}</a>
    <a href="{{ "/privacy-policy/" | relative_url }}">{% t nav.privacy %}</a>
    <a href="mailto:hi@praktika.app?subject=Support%20request">{% t nav.contact %}</a>
    <a href="{{ "/" | relative_url }}">Praktika, INC. © {{ "now" | date: "%Y" }}</a>
  </div>
  <span class="copyright-text">Copyright holder: PRAKTIKA, INC. EIN 87-3267429<br>7308 E Independence Blvd, Ste C #V150, Charlotte, NC, 28227</span>
  </div>
</div>