<!-- Footer -->
<div class="footer">
  <div class="footer-links flex">
    <a href="{{ '/license.html' | relative_url }}" class="footer-link">License Agreement</a>
    <a href="{{ '/privacy-policy.html' | relative_url }}" class="footer-link">Privacy Policy</a>
    <a href="mailto:hi@praktika.app?subject=Support%20request" class="footer-link">Contact Us</a>
    <a href="{{ '/' | relative_url }}" class="footer-link">©2022<strong></strong>Praktika, INC.</a>
  </div>
  <a
    href="{{ '/license.html' | relative_url }}"
    target="_blank"
    class="small-text">Copyright holder: PRAKTIKA, INC. EIN 87-3267429<br>7308 E Independence Blvd, Ste C #V150, Charlotte, NC, 28227</a>
</div>