<!-- Footer -->
<div class="footer">
  <div class="content">
    <div class="footer-links">
      <a
        href="https://www.facebook.com/Praktika-medytacja-i-sen-101799852028419"
        target="_blank"
        class="social-link"><img src="{{ '/assets/images/facebook.svg' | relative_url }}" alt=""></a>
      <a
        href="https://www.instagram.com/praktika.polska/"
        target="_blank"
        class="social-link"><img src="{{ '/assets/images/insta.svg' | relative_url }}" alt=""></a>
      <div class="emai-link">
        <a href="{{ '/license.html' | relative_url }}" class="footer-link">License Agreement</a>
        <a href="{{ '/privacy-policy.html' | relative_url }}" class="footer-link">Privacy Policy</a>
        <a href="mailto:hi@praktika.app?subject=Support%20request" class="footer-link">Contact Us</a>
        <a href="{{ '/support.html' | relative_url }}" class="footer-link">Get Help</a>
        <a href="{{ '/' | relative_url }}" class="footer-link">©2022<strong></strong>Praktika, INC.</a>
      </div>
    </div>
    <a
      href="{{ '/license.html' | relative_url }}"
      target="_blank"
      class="small-text">Copyright holder: PRAKTIKA, INC. EIN 87-3267429<br>7308 E Independence Blvd, Ste C #V150, Charlotte, NC, 28227</a>
  </div>
</div>