<div class="hero-section flex">
  <div class="hero-image"><img
      src="{{ '/assets/images/hero-phone-en.png' | relative_url }}"
      width="350"
      alt=""
      class="phone-img"></div>
  <div class="hero-cta flex">
    <h1>Your Personal<br>Meditation Guide</h1>
    <ul class="hero-list">
      <li class="hero-list-item">
        Dozens of meditations for every occasion
      </li>
      <li class="hero-list-item">
        Improve your sleep and reduce anxiety
      </li>
      <li class="hero-list-item">
        Short lessons perfect for busy people
      </li>
      <li class="hero-list-item">
        Soothing voice and high-quality audio
      </li>
    </ul>
    {% include store-buttons.html %}
  </div>
</div>