<div class="hero-section flex">
  <div class="hero-image"><img
      src="/assets/images/{% t hero.img %}"
      width="350"
      alt=""
      class="phone-img"></div>
  <div class="hero-cta flex">
    <h1>{% t hero.h1 %}</h1>
    <ul class="hero-list">
      <li class="hero-list-item">
        {% t hero.i1 %}
      </li>
      <li class="hero-list-item">
        {% t hero.i2 %}
      </li>
      <li class="hero-list-item">
        {% t hero.i3 %}
      </li>
      <li class="hero-list-item">
        {% t hero.i4 %}
      </li>
    </ul>
    {% include store-buttons.html %}
  </div>
</div>