<header class="navbar">
  <div class="navbar-content flex">

    <div class="navbar-logo">
      <a href="{{ '/' | relative_url }}" class="inline-block">
        <img src="{{ '/assets/images/logo.svg' | prepend: site.baseurl_root }}" alt="Praktika Logo">
      </a>
    </div>

    <!-- Mobile Menu Toggle -->
    <input
      type="checkbox"
      id="burger-toggle"
      class="burger-toggle"
      aria-label="Toggle mobile menu">
    <label for="burger-toggle" class="burger-button">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <!-- Navigation Menu -->
    <nav class="nav-menu flex">
      {% if site.lang == 'ru' %}
        <a href="{{ '/blog/' | relative_url }}">{% t nav.blog %}</a>
      {% endif %}
      <a
        href="https://www.instagram.com/practico.world/"
        target="_blank"
        rel="noopener">{% t nav.ig %}</a>
      <a
        href="https://www.facebook.com/practico.world/"
        target="_blank"
        rel="noopener">{% t nav.fb %}</a>
      <a href="mailto:hi@praktika.app?subject=Support%20request">{% t nav.email %}</a>
    </nav>
  </div>
</header>