<header class="navbar">
  <div class="navbar-content flex">

    <div class="navbar-logo">
      <a
        href="{{ '/' | relative_url }}"
        {% if page.url == '/' %}
        aria-current="page"
        {% endif %}
        class="brand{% if page.url == '/' %} current{% endif %}">
        <img
          src="{{ '/assets/images/icon-logo-b.svg' | relative_url }}"
          alt="Praktika Logo"
          class="logo-img">
      </a>
    </div>

    <!-- Mobile Menu Toggle -->
    <input
      type="checkbox"
      id="burger-toggle"
      class="burger-toggle"
      aria-label="Toggle mobile menu">
    <label for="burger-toggle" class="burger-button">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </label>

    <!-- Navigation Menu -->
    <nav class="nav-menu flex">
      <!-- Close button inside the menu -->
      <label for="burger-toggle" class="burger-close">
        <span class="close-line"></span>
        <span class="close-line"></span>
      </label>

      <div class="menu-row flex">
        <a
          href="https://www.instagram.com/practico.world/"
          target="_blank"
          rel="noopener"
          class="nav-link">Instagram</a>
        <a
          href="https://www.facebook.com/practico.world/"
          target="_blank"
          rel="noopener"
          class="nav-link">Facebook</a>
        <a href="mailto:hi@praktika.app?subject=Support%20request" class="nav-link">Email</a>
        <a href="{{ '/support.html' | relative_url }}" class="nav-link">Get Help</a>
      </div>
      <div class="store-btn-block">
        <a
          href="https://apps.apple.com/ru/app/meditation-sleep-praktika/id1467786415?l=en"
          target="_blank"
          rel="noopener"
          class="store-btn mb0 en"></a>
        <a
          href="https://play.google.com/store/apps/details?id=com.praktika.app"
          target="_blank"
          rel="noopener"
          class="store-btn mb0 gp-en"></a>
      </div>
    </nav>
  </div>
</header>