<div class="content">
  <div class="blog-content">
    <h1 class="blog-heading blog-h1">
      <span>/</span>
      <span class="bh_text">Блог о медитации без эзотерики</span>
    </h1>
    <div class="w-dyn-list">
      <div role="list" class="collection-list w-dyn-items w-row">
        <div role="listitem" class="post-card w-dyn-item w-col w-col-4">
          <a href="#" class="post-link w-inline-block">
            <div class="blog-preview"></div>
            <h2 class="blog-name w-dyn-bind-empty"></h2>
          </a>
        </div>
      </div>
      <div class="w-dyn-empty">
        <div>No items found.</div>
      </div>
      <div
        role="navigation"
        aria-label="List"
        class="w-pagination-wrapper pagination">
        <a
          href="#"
          aria-label="Previous Page"
          class="w-pagination-previous feedback-form-button blog-pagination back">
          <div class="w-inline-block">Назад</div>
        </a>
        <a
          href="#"
          aria-label="Next Page"
          class="w-pagination-next feedback-form-button blog-pagination">
          <div class="w-inline-block">Листать дальше</div>
        </a>
      </div>
    </div>
    <div class="store-button blog" data-ix="fade-in">
      <a
        id="button-top"
        href="https://apps.apple.com/ru/app/практика-медитация-и-сон/id1467786415"
        target="_blank"
        class="store-btn mb0 w-inline-block"></a>
      <a
        id="button-top"
        href="https://play.google.com/store/apps/details?id=com.praktika.app"
        target="_blank"
        class="store-btn mb0 gp w-inline-block"></a>
    </div>
  </div>
</div>