<h1 class="blog-heading">Полезные посты о ментальном здоровье</h1>
<ul class="blog-posts flex">
  {% for post in paginator.posts %}
    <li class="post-card">
      <a href="{{ post.url | relative_url }}" class="post-link flex">
        {% if post.image %}
          <div class="post-thumbnail" style="background-image: url('{{ post.image | prepend: site.baseurl_root }}')"></div>
        {% else %}
          <div class="post-thumbnail"></div>
        {% endif %}
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div
  role="navigation"
  aria-label="List"
  class="pagination flex">
  {% if paginator.previous_page %}
    <a
      href="{{ paginator.previous_page_path | relative_url }}"
      aria-label="Предыдущая страница"
      class="pagination-button">
      ← Назад
    </a>
  {% endif %}
  {% if paginator.next_page %}
    <a
      href="{{ paginator.next_page_path | relative_url }}"
      aria-label="Следующая страница"
      class="pagination-button">
      Дальше →
    </a>
  {% endif %}
</div>
{% endif %}

{% include store-banner.html %}
