<!-- Noscript Fallbacks -->
{% if site.facebook_pixel_id %}
  <noscript>
    <img
      height="1"
      width="1"
      style="display:none"
      src="https://www.facebook.com/tr?id={{ site.facebook_pixel_id }}&ev=PageView&noscript=1">
  </noscript>
{% endif %}

<!-- Custom tracking -->
<script type="text/javascript">
  function trackStoreLink() {
    window.gtag && window.gtag('event', 'app-store', {'event_category' : 'click'});
  }
  function trackAndroidLink() {
    window.gtag && window.gtag('event', 'need-android', {'event_category' : 'click'});
    window.ym && window.ym({{ site.yandex_metrika }}, 'reachGoal', 'need-android');
  }
  var storeBtns = document.querySelectorAll('.store-btn');
  for(var i = 0; i < storeBtns.length; i++) {
    storeBtns[i].addEventListener('click', trackStoreLink);
  }
  var androidBtns = document.querySelectorAll('.store-button div');
  for(var i = 0; i < androidBtns.length; i++) {
    androidBtns[i].addEventListener('click', trackAndroidLink);
  }
</script>