// Blog page

.blog-heading { margin-bottom: 1.5em; }

.blog-posts {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5em;
  list-style: none;
  margin-bottom: 4em;
  padding: 0;
}

.post-card {
  max-width: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.post-link {
  flex-direction: column;
  gap: 1em;
  &:hover { text-decoration: underline; }
}

.post-thumbnail {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 100%;
}

.post-title {
  color: $black-color;
  font-size: 1.25em;
  font-weight: 400;
  margin: 0;
}

// Pagination styles

.pagination {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
  gap: 1em;
}

.pagination-button {
  padding: .5em 1em;
  color: $grey-color;
  border: $grey-color 1px solid;
  border-radius: .5em;
  display: block;

  &:hover {
    color: $blue-color;
    border: $blue-color 1px solid;
  }
}

// Article content

.blog-article {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.post-body {
  margin-left: auto;
  margin-right: auto;
}

.post-image {
  object-fit: cover;
  width: 100%;
  margin-bottom: 40px;
  display: block;
}

// RESPONSIVE STYLES

@media screen and (max-width: 767px) {

  .post-card {
    width: 48%;
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .w-pagination-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .pagination {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .w-pagination-previous,
  .w-pagination-next {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .post-card {
    width: 100%;
    max-width: 100%;
  }
}