// Base styles
body {
  color: #333;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 0 20px;
}

a {
  color: #008eaf;
  text-decoration: none;

  &:hover, &.current { color: #000; }
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

// Store button styles
.store-buttons { gap: 1em; }

.store-button {
    height: 44px;
}

.store-button.app-store {
  background-size: 128px 44px;
  width: 128px;
  background-image: url('/assets/images/as-button-en-l.svg');
  &:hover { background-image: url('/assets/images/as-button-en-d.svg'); }
}

.store-button.google-play {
  background-size: 144px 44px;
  width: 144px;
  background-image: url('/assets/images/gp-button-en-l.svg');
  &:hover { background-image: url('/assets/images/gp-button-en-d.svg'); }
}