// Base styles
body {
  color: #333;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 0 20px;
}

a {
  color: #008eaf;
  text-decoration: none;

  &:hover, &.current { color: #000; }
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

// License page styles
.license-title {
  color: #000;
  text-align: left;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.license-text {
  color: #000;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
}

.license-heading {
  color: #000;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

// Main sections
.first-screen-2 {
  overflow: hidden;
}

.main {
  color: #000;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 24px;
}

.first-screen-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

// Main page layout
.main-row {
  justify-content: center;
  align-items: flex-start;
  padding-top: 59px;
  display: flex;
}

.phone-img {
  max-width: none;
  margin-bottom: -54px;
  margin-left: -46px;
}

.main-info {
  text-align: left;
  margin-left: 20px;
  padding-top: 79px;
}

.main-col2 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 29px;
  font-weight: 300;
  line-height: 34px;
}

.main-par {
  align-items: flex-start;
  margin-bottom: 0;
  font-size: 19px;
  line-height: 30px;
  display: flex;
}

.main-list {
  margin-bottom: 51px;
}

.li-mark {
  flex: none;
  margin-right: 5px;
}

.li-text {
  flex: 1;
}

// Store button styles
.store-buttons { gap: 1em; }

.store-button {
    height: 44px;
}

.store-button.app-store {
  background-size: 128px 44px;
  width: 128px;
  background-image: url('/assets/images/as-button-en-l.svg');
  &:hover { background-image: url('/assets/images/as-button-en-d.svg'); }
}

.store-button.google-play {
  background-size: 144px 44px;
  width: 144px;
  background-image: url('/assets/images/gp-button-en-l.svg');
  &:hover { background-image: url('/assets/images/gp-button-en-d.svg'); }
}

// Support page
.contacts-wrapper {
  color: #00abd9;
  max-width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 140%;
  text-decoration: underline;
}

.contacts-wrapper:hover {
  color: #4adeba;
  text-decoration: underline;
}

.feedback-form-text {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 140%;
}

// Blog styles
.blog-content {
  max-width: 1032px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.blog-heading {
  text-align: center;
  max-width: 1032px;
  margin: 0 auto 52px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.blog-heading.post {
  text-align: center;
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog-preview {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 100%;
}

.blog-preview.post {
  height: 120px;
}

.blog-name {
  color: #333;
  margin-top: 16px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.blog-name.post {
  font-size: 18px;
  line-height: 24px;
}

.post-card {
  flex: 0 auto;
  order: -1;
  max-width: 30%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.post-link {
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.post-link:hover {
  opacity: .8;
}

.post-body {
  max-width: 640px;
  margin-bottom: 52px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
}

.post-image {
  object-fit: cover;
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.articles-heading {
  text-align: center;
  margin-bottom: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.post-articles {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.collection-list {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

// Layout helpers
.main-image {
  flex: none;
}

.mobile-block {
  display: none;
}

.mob-row {
  align-self: stretch;
  display: flex;
}

.bh_ic {
  display: none;
}

.bh_text {
  flex: 1;
}

// Blog store section
.blog-store-wrapper {
  background-image: linear-gradient(#34afd0, #4adeba);
  border-radius: 16px;
  align-items: center;
  padding: 24px 32px;
  display: flex;
}

.blog-store-text {
  color: #fff;
  max-width: 320px;
  margin-right: 32px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.blog-store-container {
  max-width: 640px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.btn-container-blog {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-block-55 {
  font-weight: 300;
}

// RESPONSIVE STYLES
@media screen and (max-width: 991px) {

  .blog-name.post {
    font-size: 16px;
  }

  .phone-img {
    width: 275px;
    margin-bottom: -23px;
    margin-left: -53px;
  }

  .main-info {
    margin-left: -4px;
    padding-top: 43px;
  }

  .blog-store-text {
    margin-right: 32px;
  }

  .btn-container-blog {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .license-title {
    font-size: 32px;
  }

  .license-heading {
    font-size: 24px;
  }

  .first-screen-wrapper {
    padding-top: 32px;
  }

  .blog-content {
    margin-top: 0;
  }

  .blog-heading {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 32px;
  }

  .blog-heading.post {
    text-align: left;
    margin-top: 0;
  }

  .blog-name {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .post-card {
    width: 48%;
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .post-card.post {
    width: 30%;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .post-link {
    flex-direction: column;
  }

  .collection-list {
    flex-flow: wrap;
    justify-content: space-between;
    margin-right: 0;
  }

  .collection-list.post {
    flex-wrap: nowrap;
  }

  .main-row {
    margin-bottom: -10px;
    padding-top: 15px;
  }

  .phone-img {
    margin-top: -20px;
    margin-left: -47px;
    margin-right: -18px;
  }

  .main-info {
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-left: 0;
    padding-top: 0;
    display: flex;
  }

  .h1 {
    align-self: stretch;
    margin-bottom: 30px;
  }

  .main-par {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
  }

  .main-image {
    display: none;
  }

  .mobile-block {
    flex: none;
    display: block;
  }

  .main-list {
    margin-bottom: 26px;
    padding-top: 38px;
  }

  .bh_ic {
    flex: none;
    margin-right: 10px;
    display: block;
  }

  .bh_text {
    flex: 1;
  }

  .mob-row {
    align-self: stretch;
    display: flex;
  }

  .main-col2 {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .blog-store-wrapper {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 40px;
  }

  .blog-store-text {
    text-align: center;
    max-width: 360px;
    margin-bottom: 24px;
    margin-right: 0;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .license-title, .license-text, .license-heading {
    margin-left: 0;
    margin-right: 0;
  }

  .main {
    font-size: 16px;
    line-height: 21px;
  }

  .blog-heading {
    font-size: 20px;
    line-height: 24px;
  }

  .blog-name.post {
    text-align: left;
    font-size: 20px;
    line-height: 28px;
  }

  .post-card, .post-card.post {
    width: 100%;
    max-width: 100%;
  }

  .collection-list {
    flex-direction: column;
    margin-right: 0;
  }

  .collection-list.post {
    flex-flow: column;
    align-items: center;
    margin-right: 0;
  }

  .main-row {
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    display: block;
  }

  .phone-img {
    width: 402px;
    margin: -33px 0 -90px;
  }

  .main-info {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .h1 {
    align-self: center;
    width: 270px;
    max-width: 100%;
    margin-bottom: 42px;
    font-size: 24px;
    line-height: 29px;
  }

  .main-list {
    margin-bottom: 42px;
    margin-left: 0;
  }

  .mob-row {
    flex-direction: column;
    align-items: center;
  }

  .main-col2 {
    display: block;
  }

  .blog-store-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding: 32px 24px;
  }

  .blog-store-text {
    font-size: 16px;
    line-height: 20px;
  }

  .btn-container-blog {
    flex-direction: column;
    align-items: center;
  }
}
